<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{url_for('static', filename='/css/all.css')}}">
    </head>
    <body>
        <ul class="navigation">
            <li class="active"><a href="/" >Home</a></li>
            <li><a href="ecosystem">Ecosystem</a></li>
            <li><a href="nandCalculator">nandCalculator</a></li>
            <li><a href="sudoku">Sudoku</a></li>
        </ul>
        
        <h1>Nathan Cherny - Aspiring Programmer</h1>
    </body>
</html>
