canvas{
    border: 1px solid white;
}

p{
    color: white
}

div{
    margin: auto;
    text-align: center;
}

#inputDiv{
    border: 2px solid black;
}

.inputs{
    padding: 25px;
    display: flex;
    flex-direction: row;
    width: 90%; 
    margin-left: auto; 
    margin-right: auto;
    flex-wrap: wrap;
    justify-content: center;
    /*grid-template-columns: 1fr 1fr 1fr 1fr;*/
}

.inputs div{
    border: 2px solid black;
    display: flex;
    justify-content : center;
    flex-wrap: wrap;
    text-align: center;
    height: 100%;
    padding: 10px;
    margin: 10px;
    
}

input{
    margin: 0;
}

.center{
    padding: 25px;
    display: block;
    margin: auto;
    width: 50%;
}