h2{
    text-align: center;
}

.divider{
    margin: 0px;
    padding-top: 0px;
    border-radius: 0px;
    padding: 100px 100px 250px 50px;
    border-top: 5px solid white;
}

.divider h1{
    padding-top: 0px;
    margin: 0px;
    text-align: center;
}

.divider div{
    padding: 20px;
}

.horizontal{
    display: flex;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    column-gap: 5%;
}

.horizontal img{
    max-width: 50%;
    max-height: 50%;
    border-radius: 100px;
}

.skillGrid{
    display: flex;
    column-gap: 5%;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    flex-wrap: wrap;
}

.skillGrid div{
    display: flex;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 5px solid black;
    margin-bottom: 15px;
    transition: all 0.1s ease-in-out;
}

.skillGrid div:hover{
    background-color: rgba(0, 0, 0, 0.25);
}

.skillGrid div img{
    height: 100px;
    width: 100px;
}

.skillGrid div p{
    font-size: 100%
}

.skillGrid div h1{
    font-size: 25%
}

.centerItems{
    display: flex;
    justify-content: center;
    align-items: center;
}

.importantButton{
    -webkit-box-shadow:0px 0px 22px 12px rgba(224, 128, 67,0.64);
    -moz-box-shadow: 0px 0px 22px 12px rgba(224, 128, 6,0.64);
    box-shadow: 0px 0px 22px 12px rgba(224, 128, 6,0.64);
    background-color: rgb(224, 128, 6);
    padding: 10px;
    border: 1px solid black;
    transition: all 0.3s ease-in-out
}

.importantButton:hover{
    font-size: 25px;
}
