h2{
    text-align: center;
}

.divider{
    margin: 0px;
    padding-top: 0px;
    border-radius: 0px;
    padding: 100px 100px 150px 50px;
    border-top: 5px solid white;
    padding-left: 5%;
    padding-right: 5%;
}

.divider h1{
    padding-top: 0px;
    margin: 0px;
    text-align: center;
    margin-bottom: 25px;
}

.divider div{
    padding: 20px 20px 5px 20px;
}

.horizontal{
    align-items: center;
    display: flex;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    column-gap: 5%;
}

.horizontal .door{
    min-width: 50px;
    min-height: 50px;
    width: 150px;
    height: 150px;
}

.horizontal img{
    max-width: 50%;
    max-height: 50%;
    border-radius: 100px;
}

.skillGrid{
    display: flex;
    column-gap: 2.5%;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    flex-wrap: wrap;
}

.skillGrid div{
    display: flex;
    padding: 10px;
    align-items: center;
    flex-direction: column;
    margin-bottom: 15px;
    transition: all 0.1s ease-in-out;
}

.door{
    justify-content: center;
    align-items: center;
    color: white;
    display: flex;
    max-width: 75%;
    min-width: 20%;
    background-color: rgba(0, 0, 0, 0.5);
    border: 5px solid black;

    flex: 1 1 0;
}

.door:hover{
    background-color: rgba(0, 0, 0, 0.25);
}

.door img{
    height: 100px;
    width: 100px;
}

.door p{
    font-size: 100%;
}

.door h1{
    font-size: 25%
}

.card{
    max-width: 45%;
    max-height: 33%;
    border: 2px solid white
}

.card img{
    max-width: 75%;
    max-height: 100%
}

.card p{
    font-size: 15px;
    margin: 5px;
}

.card div{
    display: flex;
    flex-direction: row;
    column-gap: 5%;
    padding: 10px;
    width: 95%
}

.card .titleRow{
    display: flex;
    justify-content: center;
    color: white;
    text-wrap: nowrap;
}

.centerItems{
    display: flex;
    justify-content: center;
    align-items: center;
}

.importantButton{
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    color: #ffffff;
    text-align: center;
    transition: 0.3s all ease;
    border-radius: 5px;
    border: 1px solid black;

    background-color: #2f8a6f;
}

.importantButton:hover{
    font-size: 25px;
}

a{
    text-decoration: none;
    color: inherit
}