<!DOCTYPE html>
<html>
    <head>
        <script src="https://cdn.canvasjs.com/canvasjs.min.js"></script>
        <script src="{{url_for('static', filename='/js/ecosystem.js')}}"></script>
        <script src="{{url_for('static', filename='/js/all.js')}}"></script>
        <link rel="stylesheet" href="{{url_for('static', filename='/css/ecosystem.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='/css/all.css')}}">
        <script src="https://kit.fontawesome.com/6566feb177.js" crossorigin="anonymous"></script>
    </head>
    <body class="gradientBackground">
        <ul class="navigation">
            <li><a href="/#home" >Home</a></li>
            <li><a href="/#about_me">About Me</a></li>
            <li><a href="/#skillsAndLearning">Skills</a></li>
            <li  style="border-right: 1px solid white;"><a href="/#projects">Projects</a></li>

            <li class="active"><a href="ecosystem">Ecosystem</a></li>
            <li ><a href="nandCalculator">nandCalculator</a></li>
            <li><a href="sudoku">Sudoku</a></li>

            <li onclick="togglePopup('popup-code')" style="float: right"><a ><b>Code</b></a></li>
            <li onclick="togglePopup('popup-help')" style="float: right"><a><b>What is this project?</b></a></li>
        </ul>

        <div id="graphs" class="mainDiv" style="display: none">
            <div style="height: 500px; width: 98%;display:inline-block;" id="populationChart"></div>
            <div style="height: 500px; width: 49%;display:inline-block;" id="fishStatsChart"></div>
            <div style="height: 500px; width: 49%;display:inline-block;" id="sharkStatsChart"></div>            
        </div>

        <div id="inputDiv" class="mainDiv">
            <h1>Ecosystem Simulator!</h1>
            <div class="inputs">
                <div class="primarySettings">
                    <a href="#populationHelp" onclick="togglePopup('popup-help')" class="question fa-solid fa-question"></a>
                    <h2>Population Settings</h2>
                    <input name="fish" placeholder="Fish Population">
                    <input name="sharks" placeholder="Shark Population">
                    <input name="plants" placeholder="Plant Population">
                    <input name="endGeneration" placeholder="Generation Cap"> 
                </div>                    
                <div class="secondarySettings">
                    <div>
                        <a href="#plantHelp" onclick="togglePopup('popup-help')" class="question fa-solid fa-question"></a>
                        <h2>Plant Settings</h2>
                        <input name="plantCalories-Low" placeholder="Plant Calorie Range (Low)">
                        <input name="plantCalories-High" placeholder="Plant Calorie Range (High)">
                        <input name="plantGrowth" placeholder="Plant Growth">
                    </div>
                    <div>
                        <a href="#statsHelp" onclick="togglePopup('popup-help')" class="question fa-solid fa-question"></a>
                        <h2>Animal Stats Settings</h2>
                        <input name="speedRange-Low" placeholder="Speed Range (Low)">
                        <input name="speedRange-High" placeholder="Speed Range (High)">
                        <input name="metabolismRange-Low" placeholder="Metabolism Range (Low)">
                        <input name="metabolismRange-High" placeholder="Metabolism Range (High)">
                        <input name="matingDesireRange-Low" placeholder="Mating Desire Range (Low)">
                        <input name="matingDesireRange-High" placeholder="Mating Desire Range (High)">
                    </div>                    
                </div>    
            </div>
            <button onclick="beginSimulation()" class="center">Run</button>
        </div>

        <div class="popup" id="popup-help">
            <div class="popup-message">
                <h1>Ecosystem Simulator</h1>
                <p>This project simulates a natural ecosystem! There are Fish, Shark, and Plants. Fish eat the Plants, Sharks eat the Fish.</p>
                <p>The core goal of this project is to simulate natural selection, well, naturally. Each animal has many different traits which help further their survival. <a>Here's the list of all the traits and what they do</a>:</p>
            
                <p>Running the simulation generates graphs that show the average value of each trait. You should see that as, for example, Sharks start eating all the fish, toward the end, the average Speed trait for the Fish is higher. Natural selection!</p>
                <p>This project challenged me in organizational ways. Having multiple instances of classes interact with each other, while recording everything and graphing it all required a lot of clear organization.</p>
                
                <hr>

                <section class="sectionHelp" id="populationHelp">
                    <h2>Population Help</h2>
                    <p>These settings are for controlling the population, as well as determining when to stop the simulation.</p>
                </section>
                <hr>
                <section class="sectionHelp" id="plantHelp">
                    <h2>Plant Help</h2>
                    <p>These settings determine some variables of the Plants.</p>
                    <p>Plant Calories is how much hunger eating a plant replenishes to a Fish. The higher the number here, the less the Fish will be hungry overall.</p>
                    <p>Plant Growth is how quickly the Plants themselves reproduce and spread. A low Plant Growth will mean Plants will quickly run out.</p>
                </section>
                <hr>
                <section class="sectionHelp"  id="statsHelp">
                    <h2>Animal Traits Help</h2>
                    <p>Speed - If a Shark is trying to eat a Fish and its Speed is higher than the Fish's, it'll eat it. If not, the Fish will survive.</p>
                    <p>Metabolism - How quickly it gets hungry.</p>
                    <p>Mating Desire - How quickly it'll start looking for mates and reproduce.</p> 
                </section>

                
                <button onclick="togglePopup('popup-help')">Close</button>
            </div>
        </div>

        <div class="popup" id="popup-code">
            <div class="popup-message" style="height: 75%;">
                <div class="popup-bar">
                    <button name="js" onclick="changeCode(this)"><i class="fa-brands fa-js"></i></button>
                    <button name="css" onclick="changeCode(this)"><i class="fa-brands fa-css3-alt"></i></button>
                    <button name="html" onclick="changeCode(this)"><i class="fa-brands fa-html5"></i></button>
                    <button style="background-color: red" onclick="togglePopup('popup-code')">Close</button>
                </div>
                <h1 id="code-name">Code</h1>
                <p class="codeDisplay" id="js"></p>
                <p class="codeDisplay" id="css"></p>
                <p class="codeDisplay" id="html"></p>
            </div>
        </div>

        <section class="footer">
            <div>
               <p>Made with <a href="https://github.com/Nathan-Cherny/Music-Player" target="_blank">🎵</a></p> 
            </div>
            <div>
                <h2 style="text-align: left;">Links</h2>
                <div class="selectionList" style="padding: 0">
                    <a href="/#home">Home</a>
                    <a href="/#about_me">About Me</a>
                    <a href="/#skillsAndLearning">Skills</a>
                    <a href="/#myProjects">Projects</a>
                </div>
             </div>
            <div>
                <h2>Contact Info</h2>
                <div class="links" style="flex-direction: row">
                    <a href="https://github.com/Nathan-Cherny" class="fa-brands fa-github fa-3x" target="_blank"></a>
                    <a href="https://www.linkedin.com/in/nathancherny" class="fa-brands fa-linkedin fa-3x" target="_blank"></a>
                    <a href="mailto:natec3632@gmail.com" class="fa fa-envelope fa-3x" target="_blank"></a>
                </div>
            </div>
        </section>
    </body>
</html>