<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{url_for('static', filename='/css/nandCalculator.css')}}">
        <script src="{{url_for('static', filename='/js/nandCalculator.js')}}"></script>
        <script src="{{url_for('static', filename='/js/popup.js')}}"></script>
        <link rel="stylesheet" href="{{url_for('static', filename='/css/all.css')}}">
        <script>
            function binaryToDecimal(binary){
                return parseInt(binary.join(""), 2)
            }

            function calculateAnswer(){ // this function parses the data given by the buttons and sends it to the js function
                
                // get the binary representations (and the subtract signal)
                let binaryContainers = document.getElementsByClassName("32bit")
                let subtract = document.getElementById("subtract").checked
                let signal = []
                
                for(container of binaryContainers){
                    signal.push(getBinary(container))
                }
                signal.push(subtract)

                let trueFalseAnswer = thirtyTwoBitAdderSubtractor.logic(signal[0], signal[1], signal[2])
                let binaryAnswer = convertBoolToBin(trueFalseAnswer)

                // checking for negative numbers (using the carry output) algorithm is talked about in js
                if(signal[2]){
                    isPositive = binaryAnswer[0]
                    if(isPositive){
                        binAnswer = binaryAnswer.slice(0, 1) + " " + binaryAnswer.slice(1).join("")
                        decAnswer = binaryToDecimal(binaryAnswer.slice(1))
                    }
                    else{
                        binaryAnswer = twoComplement(binaryAnswer)
                        binAnswer = binaryAnswer.slice(0, 1) + " " + binaryAnswer.slice(1).join("")
                        decAnswer = "-" + binaryToDecimal(binaryAnswer.slice(1))
                    }
                }
                else{
                    decAnswer = binaryToDecimal(binaryAnswer)
                    binAnswer = binaryAnswer.join("")
                }

                // outputting answer
                document.getElementById("decAnswer").innerHTML = decAnswer
                document.getElementById("binAnswer").innerHTML = binAnswer
            }

            // various helper functions for quality of life and smaller necessary details

            function convertBoolToBin(boolBinaryNumber){
                let binaryAnswer = []

                for(val of boolBinaryNumber){
                    binaryAnswer.push(val ? 1 : 0)
                }

                return binaryAnswer
            }

            function changeCalcButtonEquation(){
                let button = document.getElementById("calcButton")
                let buttonText = "Calculate: "
                let decNumbers = document.getElementsByClassName("32toDecimal")
                let operation = document.getElementById("subtract").checked ? "-" : "+"
                
                buttonText = buttonText + decNumbers[0].innerHTML + " " + operation + " " + decNumbers[1].innerHTML
                button.innerHTML = buttonText
            }

            function getBinary(container){
                let binary = []
                for(checkbox of container.children){
                    binary.push(Number(checkbox.checked))
                }
                return binary
            }

            function createThirtyTwoBitInput(){ // creating the GUI
                let thirtytwoBit = document.getElementsByClassName("32bit")
                for(input of thirtytwoBit){
                    for(let i = 0; i < 32; i+=1){
                        let checkbox = document.createElement("input")
                        checkbox.type = "checkbox"
                        input.appendChild(checkbox)
                    }
                    input.onchange = function(){
                        // set the text in the individual divs to be the new decimal number
                        decimalNumber = binaryToDecimal(getBinary(this))
                        this.nextSibling.nextSibling.innerHTML = decimalNumber

                        // update the equation in the button:
                        changeCalcButtonEquation()
                    }
                }
            }

            function createCalculator(){
                createThirtyTwoBitInput()
                calculateAnswer() // calculate answer just so the button says 0+0=0
            }

        </script>
    </head>
    <body onload="createCalculator()">
        <ul class="navigation">
            <li ><a href="/" >Home</a></li>
            <li><a href="ecosystem">Ecosystem</a></li>
            <li class="active"><a href="nandCalculator">nandCalculator</a></li>
            <li><a href="sudoku">Sudoku</a></li>

            <li onclick="togglePopup('popup-code')" style="float: right"><a ><b>Code</b></a></li>
            <li onclick="togglePopup('popup-help')" style="float: right"><a><b>What is this project?</b></a></li>
        </ul>
        <div class="mainDiv">
            <div class="calculator">
                <div class="div32Bit">
                    <h2>Number 1</h2>
                    <div class="32bit">

                    </div>
                    <p class="32toDecimal">0</p>
                </div>
                <div class="div32Bit">
                    <h2>Number 2</h2>
                    <div class="32bit">

                    </div>
                    <p class="32toDecimal">0</p>
                </div>
                <div class="div32Bit">
                    <h2>Subtract</h2>
                    <div style="text-align: center;">
                        <input onclick="changeCalcButtonEquation()" id="subtract" type="checkbox" style="height: 50px; width: 50px">
                    </div>
                </div>
            </div>
            <div style="padding: 25px; width: 55%; margin: auto; text-align: center">
                <button onclick="calculateAnswer()" id="calcButton" style="width: 100%; font-size: 32px;">Calculate: 0 + 0</button>
            </div>
            <h1 id="decAnswer"></h1>
            <h2 id="binAnswer"></h2>
        </div>

        <div class="popup" id="popup-help">
            <div class="popup-message">
                <h1>Nand Calculator</h1>
                <p>This project can add and subtract 2 32 bit numbers to each other using nothing but logic gates (and a tiny bit of JS logic).</p>
                <p>The boxes in each Number represent a binary number. Check off the boxes in the appropriate order to get your binary numbers, and then click the 'Calculate' button to see the result.</p>
                <p>While I'm more accustomed to coding in higher level languages, these very low level concepts fascinated me, and teaching myself them has been the most fun coding I've had in a while.</p>
                <p>This project challenged me in more mathy, logical ways - ways I hadn't been challenged much before. It was really fun, although subtraction was a lot harder than I thought it would be.</p>
                <button class="closePopUpButton" onclick="togglePopup('popup-help')">Close</button>
            </div>
        </div>

        <div class="popup" id="popup-code" >
            <div class="popup-message" style="height: 75%;">
                <h1>Code</h1>
                <p style="text-align: left; padding: 10px;" id="code"></code><p>
                <button onclick="togglePopup('popup-code')">Close</button>
            </div>
        </div>

    </body>
</html>