<!DOCTYPE html>
<html>
    <head>
        <script src="{{url_for('static', filename='/js/sudoku.js')}}"></script>
        <script src="{{url_for('static', filename='/js/all.js')}}"></script>
        <link rel="stylesheet" href="{{url_for('static', filename='/css/all.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='/css/sudoku.css')}}">
        <script src="https://kit.fontawesome.com/6566feb177.js" crossorigin="anonymous"></script>
    </head>
    <body class="gradientBackground">
        <ul class="navigation">
            <li><a href="/#home" >Home</a></li>
            <li><a href="/#about_me">About Me</a></li>
            <li><a href="/#skillsAndLearning">Skills</a></li>
            <li  style="border-right: 1px solid white;"><a href="/#myProjects">Projects</a></li>

            <li ><a href="ecosystem">Ecosystem</a></li>
            <li ><a href="nandCalculator">nandCalculator</a></li>
            <li class="active"><a href="sudoku">Sudoku</a></li>

            <li onclick="togglePopup('popup-code')" style="float: right"><a ><b>Code</b></a></li>
            <li onclick="togglePopup('popup-help')" style="float: right"><a><b>What is this project?</b></a></li>
        </ul>

        <div id="settings" class="mainDiv">
            <h1>Sudoku!</h1>
            <p style="padding: 5px;">Customize the settings below (if you want to) and hit start to begin!</p>
            <div class="displayData">
                <div>
                    <p>Select Difficulty</p>
                    <select id="difficulty">
                        <option value="27">Difficulty</option>
                        <option value="54">Easy</option>
                        <option value="40">Medium</option>
                        <option value="32">Hard</option>
                        <option value="27">Expert</option>
                    </select>
                </div>
                <div>
                    <p>Allowed Failed Guesses</p>
                    <input id="fails" value = 3 placeholder="Allowed Fails">
                </div>
                <div>
                    <p>Hints</p>
                    <input id="hints" value = 1 placeholder="hints">
                </div>
            </div>
            <button style="padding: 15px;" onclick="beginGame()">Start</button>


        </div>
        
        <div id="game" class="mainDiv" style="display: none; width: 50%">
            <div id="boardContainer" style="border-radius: 0;">
            </div>
            <div class="displayData">
                <div>
                    <p>Progress: <span id="progressBarData"></span> units complete</p>
                    <progress id="progressBar"></progress>
                </div>
                <div>
                    <p>Remaining Guesses: </p>
                    <p id="strikes"></p>
                </div>
                <div id="useHint">
                    <p>Use Hint</p>
                    <p>Hints remaining: <span id="hintsLeft"></span></p>
                </div>
                <div>
                    <p>Change board width</p>
                    <input oninput="changeBoardWidth()" type="range" max="100" min="50" value="100" id="widthRange"/>
                </div>
            </div>
        </div>

        <div class="popup" id="popup-help">
            <div class="popup-message">
                <h1>Sudoku</h1>
                <p>This project is Sudoku!</p>
                <p>If you don't know what Sudoku is, its a game where a 9x9 board has each row, column, and 3x3 "block" consisting of all the numbers 1-9, such that no number repeats, and you have to fill in the board.</p>
                <p>You can customize a lot of options before playing. You can change the difficulty to alter how many tiles are shown, change the number of failed guesses before losing, or change the number of hints you have.</p>
                <p>When playing, click on the numbers at the bottom in orange to "select" a number, then right click in a tile to put a marker or left to put a guess.</p>
                <p>This project challenged me with more algorithmic problems, as well as fiddling around with JS and CSS a lot. Each board is randomly generated from the start, and making that algorithm was a challenge. But, I love Sudoku, and I'm very proud of the end product.</p>
                <button onclick="togglePopup('popup-help')">Close</button>
            </div>
        </div>

        <div class="popup" id="popup-code">
            <div class="popup-message" style="height: 75%;">
                <div class="popup-bar">
                    <button name="js" onclick="changeCode(this)"><i class="fa-brands fa-js"></i></button>
                    <button name="css" onclick="changeCode(this)"><i class="fa-brands fa-css3-alt"></i></button>
                    <button name="html" onclick="changeCode(this)"><i class="fa-brands fa-html5"></i></button>
                    <button style="background-color: red" onclick="togglePopup('popup-code')">Close</button>
                </div>
                <h1 id="code-name">Code</h1>
                <p class="codeDisplay" id="js"></p>
                <p class="codeDisplay" id="css"></p>
                <p class="codeDisplay" id="html"></p>
            </div>
        </div>

        <section class="footer">
            <div>
               <p>Made with <a href="https://github.com/Nathan-Cherny/Music-Player" target="_blank">🎵</a></p> 
            </div>
            <div>
                <h2 style="text-align: left;">Links</h2>
                <div class="selectionList" style="padding: 0">
                    <a href="/#home">Home</a>
                    <a href="/#about_me">About Me</a>
                    <a href="/#skillsAndLearning">Skills</a>
                    <a href="/#myProjects">Projects</a>
                </div>
             </div>
            <div>
                <h2>Contact Info</h2>
                <div class="links" style="flex-direction: row">
                    <a href="https://github.com/Nathan-Cherny" class="fa-brands fa-github fa-3x" target="_blank"></a>
                    <a href="https://www.linkedin.com/in/nathancherny" class="fa-brands fa-linkedin fa-3x" target="_blank"></a>
                    <a href="mailto:natec3632@gmail.com" class="fa fa-envelope fa-3x" target="_blank"></a>
                </div>
            </div>
        </section>
    </body>
</html>